.main-slider
{
    position: relative;

    width: 100% !important;
}
.slider-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    color: white;
    z-index: 2;
}
.carousel-item 
{}