.linkRight {
    text-align: right;
    text-decoration: none;
  }


  .carousel-item img{
    height:50%;
  }

  .carousel-caption p {
    color: white;
  }

  .white-indicator {
    background-color: #fff !important;
}
  
.icon{
    font-size: 30px;
}
.section-title-1{
  color:#08d9d6;
}
.section-title-1 span{
  color:black;
}

.section-title{
  color: #e9be3e;
}

.icon-block{
  padding: 20px;
  font-size: 24px;
  color: #08d9d6;
  
}
.icon-block img{
  border-radius: 0.5rem;
}
.icon-block h6 {
  color: black;
}

.person{
  color:gray;
}

.guide-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.guide-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 300px; 
}

.footer{
  background-color: #113448;
  padding-top: 5rem;
}

.tavel-content h4{
  color: white;
}

.tavel-content p{
  color: white;
  font-size: 12px;
}

.tavel-content ul li{
  color: white;
  text-decoration: none;
  font-size: 12px;
}
.travel-link h4{
  color: white;
}

.tavel-content li a{
  text-decoration: none;
  color: white;
}

.style-image img{
  border-radius: 0.5rem;
}

 .destination-image img{
    width:100%;
    /* height:100%; */
    border-radius: 0.5rem;
    position: relative;
   
} 
.overlay-text{
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  padding: 20px;
  border-radius: 5px;
}

.card-text{
  position:  absolute;
  bottom: 40px !important;
  color: #e9be3e !important;
  /* font-weight: 200 !important; */
}

.card-title{
  position:absolute;
  bottom: 5px !important;

  /* font-weight: 200 !important; */
}

.white{
  color: white;
}

.spacing {
  padding: 30px 0; /* Adjust the padding value as needed */
}

.footer-container{
  background-color: #0f3952;
  margin-top: 0.5rem;
  padding:10px;
  border-radius: 4px;
}

.social-links ul li {
  display: inline;
  margin-right: 5px; /* Adjust the margin between icons */
}

.social-links ul li a {
  color: white;
  text-decoration: none;
}


.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  color: #333;
}

form {
  margin-bottom: 20px;
}

input {
  margin-right: 10px;
  padding: 5px;
}

button {
  margin-right: 10px;
  padding: 5px 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f9f9f9;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
}

h2 {
  margin: 0 0 5px;
}

p {
  margin: 0;
}